In [44]:
import pandas as pd
import numpy as np

In [45]:
dataset = pd.read_csv('drug200.csv')

In [46]:
dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [47]:
dataset.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [48]:
dataset["Sex_male"]=pd.get_dummies(data=dataset.Sex,drop_first=True)

In [49]:
dataset.drop("Sex",inplace=True,axis=1)
dataset.head()

   Age      BP Cholesterol  Na_to_K   Drug  Sex_male
0   23    HIGH        HIGH   25.355  drugY     False
1   47     LOW        HIGH   13.093  drugC      True
2   47     LOW        HIGH   10.114  drugC      True
3   28  NORMAL        HIGH    7.798  drugX     False
4   61     LOW        HIGH   18.043  drugY     False

In [50]:
bp_encode={"HIGH":3,"LOW":1,"NORMAL":2}
dataset.BP.value_counts()

BP
HIGH      77
LOW       64
NORMAL    59
Name: count, dtype: int64

In [51]:
dataset.BP =dataset.BP.map(bp_encode)
dataset.head()

   Age  BP Cholesterol  Na_to_K   Drug  Sex_male
0   23   3        HIGH   25.355  drugY     False
1   47   1        HIGH   13.093  drugC      True
2   47   1        HIGH   10.114  drugC      True
3   28   2        HIGH    7.798  drugX     False
4   61   1        HIGH   18.043  drugY     False

In [52]:
cholesterol_count = dataset.Cholesterol.value_counts().sort_values().index
cholesterol_count

Index(['NORMAL', 'HIGH'], dtype='object', name='Cholesterol')

In [53]:
cholesterol_map ={cholesterol_count[i] : i for i in range(len(cholesterol_count))}

In [54]:
print(cholesterol_map)

{'NORMAL': 0, 'HIGH': 1}

In [55]:
dataset.Cholesterol = dataset.Cholesterol.map(cholesterol_map)

In [56]:
dataset.head()

   Age  BP  Cholesterol  Na_to_K   Drug  Sex_male
0   23   3            1   25.355  drugY     False
1   47   1            1   13.093  drugC      True
2   47   1            1   10.114  drugC      True
3   28   2            1    7.798  drugX     False
4   61   1            1   18.043  drugY     False

In [57]:
drug_types=dataset.Drug.value_counts().sort_index().index
drug_types

Index(['drugA', 'drugB', 'drugC', 'drugX', 'drugY'], dtype='object', name='Drug')

In [58]:
drug_map = {drug_types[i] :i for i in range(len(drug_types)) }
drug_map

{'drugA': 0, 'drugB': 1, 'drugC': 2, 'drugX': 3, 'drugY': 4}

In [59]:
dataset.Drug = dataset.Drug.map(drug_map)
dataset.head()

   Age  BP  Cholesterol  Na_to_K  Drug  Sex_male
0   23   3            1   25.355     4     False
1   47   1            1   13.093     2      True
2   47   1            1   10.114     2      True
3   28   2            1    7.798     3     False
4   61   1            1   18.043     4     False

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train,X_test,y_train,y_test = train_test_split(dataset.drop("Drug",axis=1),dataset.Drug,test_size=0.2,shuffle=True,random_state=23)

In [62]:
from DecisionTree import DecisionTree
clf = DecisionTree()

In [63]:
clf.fit(X_train,y_train)

KeyError: 2